@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    box-sizing: border-box;
}

body header {
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
}

body section div {
    background-color: #ff1493;
    padding: 10px;
    color: white;
    margin: 15px;
    border-radius: 15px;
    filter: drop-shadow(0 0 1em #ff1493);
}

body section div p {
    margin: 5px;
    padding: 5px;
}

body section div p #btn,#btn2 {
    width: 150px;
}

body section div p select {
    width: 250px;
    font-size: 1.4em;
    padding: 10px;
}

body footer {
    background-color: dodgerblue;
    color: white;
    padding: 2px;
}