@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    text-align: center;
    color: white;
}

body header{
    background-color: dodgerblue;
    padding: 15px;
    margin-bottom: 20px;
}

body section div{
    background-color: #ff1493;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.551);
    filter: drop-shadow(0 0 2em #ff1493);
}

body section div h2{
    padding: 10px;
    margin-bottom: 10px;
}

body section div p label{
    font-size: 1.3em;
}

body section div p input#txtn{
    width: 70px;
    font-size: 1.4em;
    text-align: center;
}

body section div p input#btn{
    width: 150px;
    height: 25px;
    font-size: 1em;
    margin-left: 10px;
}

body section div#res{
    display: none;
}

body section div#res select#seltab{
    width: 300px;
    padding: 10px;
    background-color: dodgerblue;
    color: white;
    font-size: 1.4em;
    text-align: center;
}

body footer{
    background-color: dodgerblue;
    padding: 3px;
}