@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    text-align: center;
    color: white;
}

body header{
    background-color: dodgerblue;
    padding: 15px;
    margin-bottom: 15px;
}

body section div {
    background-color: #ff1493;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.315);
    filter: drop-shadow(0 0 2em #ff1493);
}

body section div h2{
    margin-bottom: 15px;
    font-size: 2em;
}

body section div p,label{
    margin: 5px;
    padding: 5px;
}

body section div p label{
    font-size: 1.5em;
}

body section div p input#txtn{
    width: 100px;
    height: 28px;
    text-align: center;
    font-size: 1.4em;
}

body section div p input#btn{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-size: 1em;
}

body section div#res p{
    font-size: 1.4em;
}

body section div#res img#foto{
    margin: 10px;
    padding: 10px;
}



body footer{
    background-color: dodgerblue;
    padding: 3px;
}