/* Config Globais   */
@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    color: white;
    text-align: center;
}

body header{
    background-color: dodgerblue;
    padding: 15px;
    margin-bottom: 20px;

}

body section div{
    background-color: deeppink;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.426);
}

body section div h2{
    margin-bottom: 20px;
    padding: 10px;

}

body section div p{
    margin: 5px;
    padding: 5px;

}

body section div p label{
    font-size: 1.5em;
}

body section div p input#txtnasc,#txti,#txtf,#txtp,#txtn{
    width: 100px;
    height: 28px;
    text-align: center;
    font-size: 1.4em;
}

body section div p input#out{
    height: 28px;
    text-align: center;
    font-size: 1.4em;
    width: 300px;
    padding: 5px;
}

body section div p .button,.button2,.button3{
    width: 150px;
    margin: 30px;
    font-size: 1em;
    height: 28px;
}

body section div.res,.res2 p{
    font-size: 1.5em;
    padding: 10px;
    margin: 10px;
}

body section div.res3{
    display: none;
}

body section div.res3 select#seltab{
    margin: 20px;
    width: 250px;
    text-align: center;
    font-size: 1.4em;

}