@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    text-align: center;
    color: white;
}

header{
    background-color: dodgerblue;
    margin-bottom: 30px;
    padding: 15px;
}

footer{
    background-color: dodgerblue;
    padding: 3px;
}