*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: grid;

}

.space {
    color: white;
    font-size: 30px;
}

header {
    background-color: blue;
    

}

main {
    background-color: blueviolet;
    

}

aside {
    background-color: chartreuse;
    
}

footer {
    background-color: aqua;
    
   
}

nav{
    background-color: darkgoldenrod;
    
   
}