@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: dodgerblue;
    color: #ffffff;

}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: #ffffff;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #ff1493;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    width: 500px;
    filter: drop-shadow(0 0 2em #ff1493);
    

}

input{
    text-align: center;
}

p {
    margin: 10px;
    padding: 10px;
}

.list {
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

button{
    border: none;
    cursor: pointer;
    width: 100px;
    border-radius: 10px;
    font-size: 15px;
    padding: 3px;
    background-color: darkblue;
    color: #ffffff;
}

button:hover {
    background-color: rgba(30, 143, 255, 0.596);

}

button:active{
    background-color: rgba(76, 162, 248, 0.582);
}



footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: dodgerblue;
    padding: 10px;
    margin-top: 10px ;
    margin-bottom: 10px;
    color: #ffffff;
}