@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-align: center;
}

body header {
    background-color: dodgerblue;
    padding: 15px;
    color: white;
    margin-bottom: 20px;
}

body section div {
    background-color: #ff1493;
    filter: drop-shadow(0 0 1em #ff1493);
    margin: 20px;
    color: white;
    border-radius: 15px;
    padding: 15px;
}

body section div h2 {
    margin: 15px;
}

body section div p {
    margin: 5px;
    padding: 5px;
}

body section div p input#txtn {
    width: 80px;
    
}

body section div p input#btn,#btn2 {
    width: 150px;
    border-radius: 5px;
}

body section div p select#lista {
    width: 250px;
    padding: 10px;
}

body footer {
    background-color: dodgerblue;
    color: white;
    padding: 2px;
}