@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-align: center;
}

body header{
    margin-bottom: 10px;
    padding: 10px;
    background-color: blue;
    color: white;
}

body section form {
    background-color: #ff1493;
    color: white;
    margin: 10px;
    padding: 10px;
}

body section form h2 {
    margin-bottom: 20px;
}

label {
    margin: 0 .5rem;
}
.did{
    color: #1f871f;
    font-style: italic;
    text-decoration: line-through;
}

body footer {
    background-color: dodgerblue;
    color: white;
}