@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-align: center;
}

body header {
    background-color: dodgerblue;
    color: white;
    padding: 15px;
    margin-bottom: 20px;
}

body section div {
    background-color: #ff1493;
    color: white;
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
    filter: drop-shadow(0 0 2em #ff1493);
}

body section div h2 {
    margin-bottom: 20px;
}

body section div p {
    margin: 5px;
    padding: 5px;
}

body section div p input#txtn {
    width: 80px;
}

body section div p input#btn,#btn2 {
    width: 150px;
    border-radius: 15px;
}

body section div p select#lista {
    font-size: 1.4em;
    width: 250px;
    padding: 10px;
}

body section div#res {
    display: none;
}


body footer {
    background-color: dodgerblue;
    color: white;
    padding: 2px;
}