@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    text-align: center;
}

body header{
    background-color: dodgerblue;
    color: white;
    padding: 15px;
    margin-bottom: 20px;
}

body section div{
    background-color: deeppink;
    color: white;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.411);
}

body section div h2{
    margin-bottom: 15px;
}

body section div p{
    margin: 5px;
    padding: 5px;

}

body section div p select#lista{
    width: 200px;
    padding: 10px;
    font-size: 1.3em;
}

body section div p label{
    font-size: 1.5em;
}

body section div input#txtn{
    width: 100px;
    font-size: 1.4em;
    text-align: center;
}

body section div#res p{
    font-size: 1.5em;
}

input.button,.button2{
    width: 150px;
    font-size: 1.3em;
}

body footer{
    background-color: dodgerblue;
    color: white;
    padding: 5px;
}