*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 10px;
    justify-content: center;
    align-content:center;
}

.space{
    color: #ffffff;
    font-size: 30px;
}

.one{
    background-color: #333459;
}

.two{
    background-color: #259b11;
}

.three {
    background-color: #800534;
}

.four {
    background-color: #0c8f9b;
}

.five {
    background-color: #ff0a0a;
}

.six {
    background-color: aqua;
}

.seven {
    background-color: blueviolet;
}

.eight {
    background-color: cornflowerblue;
}

.nine {
    background-color: darkgoldenrod;
}